

    <!-- About Start -->
     {% extends "main.html" %}

     {% block content %}
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="/static/images/about.jpg" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="section-title position-relative mb-4">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Biz Haqimizda</h6>
                        <h1 class="display-4">Birinchi tanlov o'zinigiga yaqin va qulay joyda!</h1>
                    </div>
                    <p>Innovate IT School sizga o'zingizga yaqin va qulay bo'lgan sifatli ta'limni tuhfa etadi va sizni farzandingizga Ingiliz Tili, Matematika va IT sohalari bo'yicha  darslarni tuhfa etadi.Bundan taqshqari bu yerda farzandingiz uchun ovqat tizimlari ham tashkil etilgan. Ovqat tizimlarimiz o'zimizning milliy taomlarimizni o'z ichiga oladi.</p>
                    <div class="row pt-3 mx-0">
                        <div class="col-3 px-0">
                            <div class="bg-success text-center p-4">
                                <h1 class="text-white" data-toggle="counter-up">{{sub_count}}</h1>
                                <h6 class="text-uppercase text-white">Mavjud<span class="d-block">Fanlar</span></h6>
                            </div>
                        </div>
                        <div class="col-3 px-0">
                            <div class="bg-primary text-center p-4">
                                <h1 class="text-white" data-toggle="counter-up">{{de_count}}</h1>
                                <h6 class="text-uppercase text-white">Ochiq<span class="d-block">Sinflar</span></h6>
                            </div>
                        </div>
                        <div class="col-3 px-0">
                            <div class="bg-secondary text-center p-4">
                                <h1 class="text-white" data-toggle="counter-up">{{te_count}}</h1>
                                <h6 class="text-uppercase text-white">Tajribali<span class="d-block">Uztozlar</span></h6>
                            </div>
                        </div>
                        <div class="col-3 px-0">
                            <div class="bg-warning text-center p-4">
                                <h1 class="text-white" data-toggle="counter-up">500</h1>
                                <h6 class="text-uppercase text-white">Bahtli<span class="d-block">O'quvchilar</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Feature Start -->
    <div class="container-fluid bg-image" style="margin: 90px 0;">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 my-5 pt-5 pb-lg-5">
                    <div class="section-title position-relative mb-4">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Why Choose Us?</h6>
                        <h1 class="display-4">Nimaga Siz farzandingizni aynan bizda o'qitasiz?</h1>
                    </div>
                    <p class="mb-4 pb-2">Chunki hozirgi kunda kurslar narxlari shaharda va boshqa joylarda qimmat va uzoq hisoblanadi.Bundan tashqari, biz farzandingiz uchun kerakli uchta fanni kursimiz ichiga oldik.</p>
                    <div class="d-flex mb-3">
                        <div class="btn-icon bg-primary mr-4">
                            <i class="fa fa-2x fa-graduation-cap text-white"></i>
                        </div>
                        <div class="mt-n1">
                            <h4>Tajribali Ustozlar</h4>
                            <p>Bizdagi hamma o'qituvchilarimiz tajribali va malakali ustozlar bo'lib. Ularning hammasida ingiliz tilida gaplasha olish va shunga o'xshash qobilyatlar mujassam.</p>
                        </div>
                    </div>
                    <div class="d-flex mb-3">
                        <div class="btn-icon bg-secondary mr-4">
                            <i class="fa fa-2x fa-certificate text-white"></i>
                        </div>
                        <div class="mt-n1">
                            <h4>Halqaro Sertifikatlar</h4>
                            <p>Bizning o'quv markazimiz sizga IELTS va SAT halqaro sertifikatlarini tekinga olish va chet elda o'qish imkoniyatini beradi.</p>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="btn-icon bg-warning mr-4">
                            <i class="fa fa-2x fa-book-reader text-white"></i>
                        </div>
                        <div class="mt-n1">
                            <h4>Online Darslar</h4>
                            <p class="m-0">Bizda maktabda o'qishidan tashqari online darslar ham tashkil qilingan bo'lib. Bularning hammasi farzandingizni yaxshi va sifatli ta'limi uchundir.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="/static/images/feature.jpg" style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature Start -->


    <!-- Courses Start -->
    <div class="container-fluid px-0 py-5">
        <div class="row mx-0 justify-content-center pt-5">
            <div class="col-lg-6">
                <div class="section-title text-center position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Bizning Sinflar</h6>
                    <h1 class="display-4">Ochiq sinflarimizni ko'zdan kechiring</h1>
                </div>
            </div>
        </div>
      
        </div>
       <div id="kursga" class="row justify-content-center bg-image mx-0 mb-5">
            <div class="col-lg-6 py-5">
                <div class="bg-white p-5 my-5">
                    <h1 class="text-center mb-4">Sinflarga Qo'shilish</h1>

                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input name="full_name" type="text" class="form-control bg-light border-0" placeholder="To'liq Ismingiz" style="padding: 30px 20px;">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input name="tel_raqami" type="text" class="form-control bg-light border-0" placeholder="Telefon Raqami" style="padding: 30px 20px;">
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <select name="sinfi" class="custom-select bg-light border-0 px-3" style="height: 60px;">
                                        <option selected>Sinflar</option>
                                        <option value="1-Sinf">1-Sinf</option>
                                        <option value="2-Sinf">2-Sinf</option>
                                        <option value="3-Sinf">3-Sinf</option>
                                        <option value="4-Sinf">4-Sinf</option>
                                        <option value="5-Sinf">5-Sinf</option>
                                        <option value="6-Sinf">6-Sinf</option>
                                        <option value="7-Sinf">7-Sinf</option>
                                        <option value="8-Sinf">8-Sinf</option>
                                        <option value="9-Sinf">9-Sinf</option>
                                        <option value="10-Sinf">10-Sinf</option>
                                        <option value="11-Sinf">11-Sinf</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <input name="maktabi" type="text" class="form-control bg-light border-0" placeholder="Maktab Kiriting" style="padding: 30px 20px;">
                            </div>
                            
                        <div class="form-row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                  
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <button style="width: 180px;" class="btn btn-primary btn-block" type="submit" value="submit" style="height: 60px;">Jo'natish</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <!-- Courses End -->


    <!-- Team Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="section-title text-center position-relative mb-5">
                <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Uztozlar</h6>
                <h1 class="display-4">Uztozlarimiz bilan Tanishing</h1>
            </div>
            <div class="owl-carousel team-carousel position-relative" style="padding: 0 30px;">
                {% for teacher in teachers %}
                <div class="team-item">
                    <img class="img-fluid w-100" src="{{teacher.img.url}}" alt="">
                    <div class="bg-light text-center p-4">
                        <h5 class="mb-3">{{teacher.name}}</h5>
                        <p class="mb-2">{{teacher.subject.name}}</p>
                        <div class="d-flex justify-content-center">
                            <a class="mx-1 p-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-instagram"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Team End -->


    <!-- Testimonial Start -->
    <div class="container-fluid bg-image py-5" style="margin: 90px 0;">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5 mb-5 mb-lg-0">
                    <div class="section-title position-relative mb-4">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Testimonial</h6>
                        <h1 class="display-4">O'quchilarimiz nima deydi?</h1>
                    </div>
                    <p class="m-0">O'qituvchilar ko'pincha o'z talabalarini akademik va shaxsiy hayotlarida o'rganish, o'sish va taraqqiyotga ilhomlantirish, rag'batlantirish va rag'batlantirishni maqsad qiladi. Bu roldagi mutaxassislar talabalarning hisobot kartalari va uy vazifalari haqida fikr bildirishlari va imkon qadar sinfda ularga o'rganish va maktabda muvaffaqiyat qozonishlariga yordam berish uchun maslahat berishlari odatiy holdir. Agar siz o'quvchilaringizni ilhomlantirmoqchi bo'lsangiz, ularga bera oladigan rag'batlantiruvchi izohlarni o'rganish foydali bo'lishi mumkin.</p>
                </div>
                <div class="col-lg-7">
                    <div class="owl-carousel testimonial-carousel">
                        {% for post in posts %}
                        <div class="bg-white p-5">
                            <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                            <p>{{post.comment}}</p>
                            <div class="d-flex flex-shrink-0 align-items-center mt-4">
                                <img class="img-fluid mr-4" src="/static/images/images.png" alt="">
                                <div>
                                    <h5>{{post.name}}</h5>
                                    <span>{{post.subject}}</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial Start -->


    <!-- Contact Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5 mb-5 mb-lg-0">
                    <div class="bg-light d-flex flex-column justify-content-center px-5" style="height: 450px;">
                        <div class="d-flex align-items-center mb-5">
                            <div class="btn-icon bg-primary mr-4">
                                <i class="fa fa-2x fa-map-marker-alt text-white"></i>
                            </div>
                            <div class="mt-n1">
                                <h4>Joylashuv</h4>
                                <p class="m-0">Baliqchi, Shoh ko'cha 7-uy 
                                    Mo'ljal: Yong'in xavfsizligi binosi yonida!</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-5">
                            <div class="btn-icon bg-secondary mr-4">
                                <i class="fa fa-2x fa-phone-alt text-white"></i>
                            </div>
                            <div class="mt-n1">
                                <h4>Bog'lanish</h4>
                                <p class="m-0"><a href="tel:+998 99-321-20-00">+998 99-321-20-00</a>
                                </p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="btn-icon bg-warning mr-4">
                                <i class="fa fa-2x fa-envelope text-white"></i>
                            </div>
                            <div class="mt-n1">
                                <h4>Email Us</h4>
                                <p class="m-0"><a href="mailto:byaxyoxojayev@gmail.com">@innovateitschool@gmail.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="section-title position-relative mb-4">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Yordam Kerakmi?</h6>
                        <h1 class="display-4">Habar Yuboring</h1>
                    </div>
                    <div class="contact-form">
                        <form method="POST", action="">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-6 form-group">
                                    <input type="text" class="form-control border-top-0 border-right-0 border-left-0 p-0" name="name" placeholder="Ismingiz" required="required">
                                </div>
                                <div class="col-6 form-group">
                                    <input name="email" type="email" class="form-control border-top-0 border-right-0 border-left-0 p-0" placeholder="Your Email" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" name="subject" class="form-control border-top-0 border-right-0 border-left-0 p-0" placeholder="Faningiz" required="required">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control border-top-0 border-right-0 border-left-0 p-0" name="comment" rows="5" placeholder="Habar" required="required"></textarea>
                            </div>
                            <div>
                                <button class="btn btn-primary py-3 px-5" type="submit" value="submit">Jo'natish</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->


    <!-- Footer Start -->
   {% endblock content %}