
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5">
        <a href="/" class="navbar-brand ml-lg-3">
            <h1 style='font-size: 18px;' class="m-0 text-uppercase text-primary"><img style="width: 30px" src="/static/images/globe-solid.svg" alt=""> Innovate IT School</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
            <div class="navbar-nav mx-auto py-0">
                <a href="/"  class="nav-item nav-link active">Bosh Sahifa</a>
                <a href="{% url "about" %}" class="nav-item nav-link">Biz haqimizda</a>
                <a href="{% url "course" %}" class="nav-item nav-link">Sinflar</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Sahifalar</a>
                    <div class="dropdown-menu m-0">
                        <a href="{% url "feature" %}" class="dropdown-item">Bizning Hususiyatlar</a>
                        <a href="{% url "team" %}" class="dropdown-item">Uztozlar</a>
                        <a href="{% url "testimonial" %}" class="dropdown-item">Ma'lumotlar</a>
                        <a href="{% url "news" %}" class="dropdown-item">Yangiliklar</a>
                        <a href="{% url "contact" %}" class="dropdown-item">Bog'lanish</a>
                    </div>
                </div>
                
            </div>
            <a href="{% url "home" %}#kursga" class="btn btn-primary py-2 px-4 d-none d-lg-block">Bizga Qo'shil</a>
        </div>
    </nav>
</div>

